/*
@Fichier : responsive.css;
@Auteur :Wilfried ETEKA;
@Contact: 96 03 36 82;
@But: Rendre le site responsive;
@Date: 14 Décembre 2019 12H:16;
*/
#logo{
	height: 30px;
	float: left;
	padding: 10px 20px;
	font-size: 2em;
	display: block;
	text-decoration: none;
}
body{
	margin: 0;
	font-family: sans-serif;
	background-color: #f4f4f4;
}

a{
	color: black;
	text-decoration: none;
}
.header{
	background-color: #ffffff;
	width: 100%;
	position: fixed;
	padding: 15px auto;
	z-index: 3;
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.1);
}
.header ul,#menu{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background: #ffffff;
	opacity: 0.2;	
}
#menu li a{
	display: block;
	padding: 20px;
	border-right: 1px solid #f4f4f4;
	border-bottom: 1px dashed #dedede;
}
#menu li a:hover,
.hedaer .menu-btn:hover{
	background-color: #f4f4f4;
}
.header .header-main{
	width: 80%;
	margin: auto;
	
}

/*Menu du site*/
.header #menu{
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
	transition: opacity .2s ease-out;
}

.header .menu-icon{
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;	
  	position: relative;
  	user-select: none;
}
.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background 0.2s ease-out;
}

.header .menu-icon .navicon:after,
.header .menu-icon .navicon:before{
	content: ' ';
	background:#333;
	position: absolute;
	width: 100%;
	height: 2px;
	transition: all .2s ease-out;
}
.header .menu-icon .navicon:after{top:5px;}
.header .menu-icon .navicon:before{top:-5px;}

.header .menu-btn{
	display: none;
}

.header .menu-btn:checked ~ #menu {
  max-height: 240px;
  opacity: 1;
  transition: ease-out .2s all;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 768px){
	.header li{
		float: left;
	}
	.header-main{
		width: 80%;
	}
	
  .header #menu {
    clear: none;
    opacity:1;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}